.agency {
  max-width: 1300px;
  margin: auto;
  margin-top: 30px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* .agency-menu {
  margin-bottom: 30px;
} */

.agency-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  list-style: none;
  padding-left: 0;

  color: #fff;
  font-size: 16px;

  background-color: #0260a0;
  margin-top: 0;
  margin-bottom: 0;
}

.agency-menu ul li {
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
  width: 100%;

  text-align: center;
}

.agency-menu ul li.active {
  background-color: #004e84;
}

.agency-menu ul li:hover {
  background-color: #004e84;
}

.agency-menu ul li:last-child {
  border-bottom: none;
}

.agency-menu ul li .fa {
  margin-right: 15px;
}

.agency-contenedor {
  padding: 30px;
}

.agency-tabs .agency-tab {
  display: none;
}

.agency-tabs .agency-tab.active {
  display: block;
}

.agency-card-title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.agency-card-user a {
  color: #fff;
  text-decoration: none;
}

.agency-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background: #000;

  position: relative;
  z-index: 1;

  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.agency-card-header::after {
  content: '';
  background: url('../images/banner-cancun.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.agency-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agency-card-logo img {
  height: 150px;
}

.btn-agency {
  background-color: #ED5722;
  border: 0;
  padding: 10px;
  width: 100%;

  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.custom-file-upload {
    background-color: #0260A0;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #ffffff;
}

.custom-file-upload input[type="file"] {
  display: none;
}

/* .btn-logo {
  background-color: #0260A0;
  border: 0;
  padding: 10px;

  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.btn-logo input {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.0;
  font-size: 300px;
  height: 200px;
} */

.frm-agency {
  max-width: 700px;
  margin: auto;
}

.frm-agency .w-100 {
  width: 100%;
}

.frm-agency select {
  width: 100%;
}

.frm-agency h2 {
  text-align: center;
}

.frm-agency p {
  margin-bottom: 40px;
}

.agency-frm-logo {
  margin-top: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.agency-frm-logo img {
  padding: 5px;
  background: #0260a0;
  border-radius: 10px;
  border: 2px solid #003b63;
  max-height: 150px;

  margin-right: 20px;
}


.agency-tab-info {
  padding-left: 0;
  list-style: none;
  margin-bottom: 30px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.agency-tab-info li {
  width: 49%;
  margin-bottom: 10px;
}

.agency-tab-info li:nth-child(odd) {
  margin-right: 1%;
}


/* AGENTES */
.contenedor-agentes {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.contenedor-agentes p {
  text-align: left;
}

.lista-agentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
  max-width: 700px;
  margin: auto;
}

.lista-agentes li {
  width: 49%;
  background-color: #4698a7;
  padding: 15px;
  border-radius: 5px;

  color: #fff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-bottom: 15px;
}

.lista-agentes li:nth-child(odd) {
  margin-right: 2%;
}

.lista-agentes li div {
  width: 100%;
}

.btn-editar {
  padding: 10px;
  color: #fff;
  background-color: #004e84;
  border-radius: 5px;
}

.btn-editar:hover {
  color: #fff;
}

.btn-eliminar {
  padding: 10px;
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
}

.btn-eliminar:hover {
  color: #fff;
}

.lista-agentes-footer {
  margin-top: 20px;
}

/* MODAL */
.form-control-agente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  list-style: none;
  padding-left: 0;
}

.form-control-agente li {
  margin-bottom: 20px;
}

.form-control-agente li label {
  display: block;
}
.form-control-agente select {
  width: 100%;
}

.btn-blanco {
  background-color: #fff;
  color: #333;
}

.btn-blanco:hover {
  color: #333;
}

.btn-azul {
  color: #fff;
  background-color: #0260a0;
}

.btn-azul:hover {
  color: #fff;
}

.contenedor-actions {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}

/* ERROR */
.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #ff6b68;
}

/* UTILIDADES */
.mt-5 {
  margin-top: 5rem !important;
}

@media (max-width: 991.98px) {
  .lista-agentes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .lista-agentes li {
    width: 100%;
    margin-bottom: 20px;
  }

  .lista-agentes li:nth-child(odd) {
    margin-right: 0;
  }
}
