.discover-telefono {
  font-size: 16px;
}

.precio-paquetes {
  margin-top: 20px;
  text-transform: none;
}

.precio-paquetes p {
  font-size: 18px !important;
  margin-bottom: 0;
}

.bloqueos-carrusel {
  max-width: 1300px !important;
}

.bloqueos-carrusel .bx-wrapper {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.bloqueos-carrusel .bx-wrapper {
  margin-bottom: 0;
}

.destination-home {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  justify-content: center;

  max-width: 500px;
  margin: auto !important;
  margin-top: 30px !important;
}

.destination-home li {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  justify-content: center;
}

.destination-home .fusion-li-item-content {
  margin-left: 0 !important;
}

.home-slider {
  /* margin: 0 !important; */
}

.home-slider .slick-arrow .fa {
  font-size: 70px;
  color: #fff !important;
  opacity: .30;
}

.home-slider .slick-arrow::before {
  content: none;
}

.home-slider .slick-prev {
  left: 30px;
  z-index: 1;
}

.home-slider .slick-dots {
  bottom: 20px;
}

.home-slider .slick-next {
  right: 30px;
}

.home-slider.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.lista {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center; */
  width: 100%;
  max-width: 1650px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.lista .slick-arrow .fa {
  font-size: 50px;
  color: #fff !important;
}

.lista .slick-arrow::before {
  content: none;
}

.lista .slick-prev {
  left: 0;
}

.lista .slick-next {
  right: 0;
}

.lista .item {
  width: 275px;
  position: relative;

  margin-right: 10px;
  cursor: pointer;
}

.lista .item:hover .titulo {
  display: block;
}

.lista .item:hover .imagen img {
  filter: url(#grayscale);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

.item .imagen img {
  width: 100%;
  border-radius: 10px;
  filter: url(#grayscale);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: Gray();
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.item .titulo {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
  padding: 10px;
  width: 100%;

  display: none;
}

.titulo h4 {
  color: #ffffff !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px;
  margin: 0;
}

.titulo h4 a {
  color: #ffffff !important;
}

/* CUSTOM NOSOTROS */
#Div-Hoteles-Proveedores .tabs-nosotros ul.nav-tabs li:first-child:before {
    width: 0;
}

.tabs-nosotros ul.nav-tabs > li.active > a > h4 {
    text-decoration: none;
}


/* ERROR FORM */
.f-arial .wpcf7-select-parent {
  font-family: inherit !important;
}

.frmSuccess {
  min-height: 300px;
  text-align: center;
}
.frmSuccess.hidden {
  display: none !important;
}

#wpmem_reg #frmAgency .div_text {
  height: auto !important;
}

#wpmem_reg #frmAgency .select-arrow {
  font-family: 'icomoon' !important;
}

.group-provincia.d-block, .group-distrito.d-block, .group-agencia.d-block {
  display: block !important;
}

.group-provincia, .group-distrito, .group-agencia {
  display: none !important;
}

.has-error {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}


@media (max-width: 575.98px) {
  .text-banner-home h2 {
    font-size: 25px !important;
  }

  .text-banner-home h3 {
    font-size: 14px;
  }

  .text-banner-home h4 {
    font-size: 14px;
  }

  .destination-home .fusion-li-item-content {
    font-size: 20px !important;
  }

  .home-slider .slick-arrow .fa {
    font-size: 40px;
  }

  .home-slider .slick-prev {
    left: 5px;
  }

  .home-slider .slick-next {
    right: 0px;
  }

  .fusion-footer {
    margin-left: -15px;
    margin-right: -15px;
  }

  #menu-item-28 {
    margin-left: 0px;
  }

  #menu-menu-top > li a:not(.fusion-icon-only-link) {
    margin: 0 7px;
  }

  #menu-menu-top > li .fusion-icon-only-link {
    padding: 0;
    margin-left: 7px;
  }
}

@media (max-width: 767.98px) {
  .destination-home .icon-wrapper {
    margin-right: 0 !important;
  }

  .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -28px;
  }

  .bx-wrapper .bx-controls-direction a.bx-next {
    right: -28px;
  }
}

@media (max-width: 991.98px) {
  .text-banner-home h2 {
    font-size: 30px !important;
  }

  .text-banner-home h3 {
    font-size: 20px;
  }

  .text-banner-home h4 {
    font-size: 20px;
  }

  .destination-home .fusion-li-item-content {
    font-size: 24px !important;
  }
}

/* @media (max-width: 1199.98px) {

} */
