/*CSS REGULAR*/
@font-face {
    font-family: AndrogyneR;
    src: url("../fonts/Androgyne_TB.otf");
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: 'Roboto', sans-serif;;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: OScriptR;
    src: url("../fonts/OleoScript-Regular.ttf");
}
@font-face {
    font-family: OScriptB;
    src: url("../fonts/OleoScript-Bold.ttf");
}
#menu-menu-top span.fusion-megamenu-icon{
    text-align:center
}
body.home .fusion-header-v2 .fusion-secondary-header{
    background:transparent
}
#menu-menu-top > li{
    border: 0
}
body.home #menu-menu-top > li *{
    color: #fff;
}
body.home #menu-menu-top > li .fusion-megamenu-icon i{
    color: #105F88;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    font-size: 16px
}
#menu-menu-top > li .menu-text{
    font-family: 'Roboto', sans-serif;;
    font-size: 13.5px
}
#menu-menu-top > li .fusion-icon-only-link{
    padding: 0;
    margin-left: 10px
}
#menu-menu-top > li a:not(.fusion-icon-only-link){
    padding: 0;
    margin: 0 25px
}
#menu-item-28{
    margin-left: 15px
}
#menu-menu-top > li:not(.link-red-social):before{
    content:"";
    display:block;
    width: 1px;
    height: 15px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7.5px
}
#menu-menu-principal-home li a span{
    color: #fff;
    font-family: 'Roboto', sans-serif;;
    font-size: 17px;
    font-weight: 100
}
#menu-menu-peru li a span,
#menu-menu-mundo li a span{
    font-family: 'Roboto', sans-serif;;
    font-size: 17px;
    font-weight: 100
}
#menu-menu-peru li.current-menu-item a span,
#menu-menu-peru li:hover a span,
#menu-menu-mundo li.current-menu-item a span,
#menu-menu-mundo li:hover a span{
    color:#1894B6;
}
.fusion-header-v2 .fusion-secondary-header{
    border-top: 0
}
.text-banner-home *{
    text-align: center;
    color: #fff!important;
}
.text-banner-home h3{
    font-family: AndrogyneR;
    font-size: 25px;
    text-shadow: 1px 1px 2px #333;
    margin-bottom: 0;
}
.text-banner-home h2{
    font-family:  'Roboto', sans-serif!important;
    font-size: 45px!important;
    text-shadow: 1px 1px 1px #333;
    line-height: normal!important;
    margin-bottom: 0
}
.text-banner-home h4{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 2px #333;
    margin-bottom: 0;
    margin-top: 5px!important;
    line-height: normal
}
.link-mp-home .fusion-li-item{
    position: relative
}
.link-mp-home .fusion-li-item a:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}
.link-mp-home .fusion-li-item:hover i,
.link-mp-home .fusion-li-item:hover a{
    color: #19AE5D!important
}
.link-mp-home .fusion-li-item a{
    color: #fff
}
#post-2 ul.link-mp-home > li{
    display: inline-block;
    width: 49%;
}
.forms-reservas-paquetes{
    margin-top: -52px;
    position: relative;
    z-index: 99;
  	margin-bottom: 0;
}
.forms-reservas-paquetes > .nav{
    max-width: 1300px;
    margin: 0 auto;
  	border-bottom: 0!important;
}
.forms-reservas-paquetes > .nav > ul > li:nth-child(1) > a{
    background: #EAB704!important;
}
.forms-reservas-paquetes > .nav > ul > li > a{
    color: #000;
    text-transform: uppercase;
    border-top-color: transparent!important
}
.forms-reservas-paquetes > .nav > ul {
    border: 0
}
.forms-reservas-paquetes > .nav > ul > li:nth-child(2) > a{
    background: #25AE5E!important;
}
.forms-reservas-paquetes > .tab-content > .tab-pane:nth-child(2){
    background: #EAB704!important;
}
.forms-reservas-paquetes > .tab-content > .tab-pane:nth-child(4){
    background: #25AE5E!important;
}
.forms-reservas-paquetes > .tab-content > .tab-pane:nth-child(2) *{
    color: #000!important;
}
.forms-reservas-paquetes > .tab-content > .tab-pane:nth-child(4) *{
    color: #fff!important;
}
.forms-reservas-paquetes > .nav > ul > li:not(.active):nth-child(1) > a{
    background: #E0EDF5!important;
}
.forms-reservas-paquetes > .nav > ul > li:not(.active):nth-child(1) > a > h4{
    color: #EAB704!important
}
.forms-reservas-paquetes > .nav > ul > li:not(.active):nth-child(2) > a{
    background: #E0EDF5!important
}
.forms-reservas-paquetes > .nav > ul > li:not(.active):nth-child(2) > a > h4{
    color: #25AE5E!important
}
.forms-reservas-paquetes > .nav > ul > li.active:nth-child(2) > a > h4{
    color: #fff
}
#text-2 a{
    color: #000;
}
#text-2 .redes-footer li{
    display: inline-block;
    margin: 0 5px
}
#text-2 .redes-footer li a{
    display: block;
    background: #0A8DD1;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    border-radius: 50%
}
#menu-descubre-footer li a:before{
    display: none;
}
#menu-descubre-footer li{
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 5px
}
#menu-descubre-footer li a{
    color: #000;
    font-size: 15px
}

#sticky-posts-2 header .entry-image{
    float: left;
    margin-right: 10px
}
#sticky-posts-2 .entry-summary p{
   font-style: italic
}
#sticky-posts-2{
    margin-bottom: 15px
}
#text-3 form p{
    float: left;
    width: 100%;
    max-width: 280px;
    margin:0;
}
#text-3 form p input{
    border: 1px solid #02A1A5;
}
#text-3 form input[type=submit]{
    background: #02A1A5;
    color: #fff;
    border: 0;
    height: 29px;
    padding: 0 20px;
    cursor: pointer
}
footer.fusion-footer-widget-area  h4.widget-title{
    text-transform: none;
    position: relative;
    padding-bottom: 7px;
    font-size: 15px
}
#nav_menu-2 h4.widget-title:before{
    background: #F3A799;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom:0;
    max-width: 280px
}
#nav_menu-2 h4.widget-title:after{
    background: #ED5722;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom:0;
    max-width: 100px
}
#nav_menu-2 h4.widget-title{
    color:  #ED5722;
}
#sticky-posts-2 h4.widget-title:before{
    background: #8FCFCF;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom:0;
    max-width: 280px
}
#sticky-posts-2 h4.widget-title:after{
    background: #16A0AA;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom:0;
    max-width: 100px
}
#sticky-posts-2 h4.widget-title{
    color:  #16A0AA;
}
#sticky-posts-2 header .entry-title a{
    color: #000;
    font-size: 15px;
    font-weight: normal
}

body:not(.home) .fusion-is-sticky #menu-menu-peru li.current-menu-item a span,
body:not(.home) .fusion-is-sticky #menu-menu-peru li:hover a span,
body:not(.home) .fusion-is-sticky #menu-menu-mundo li.current-menu-item a span,
body:not(.home) .fusion-is-sticky #menu-menu-mundo li:hover a span{
    color:#ffffff;
}

body.home .fusion-logo-link img:not(.logo-custom-ja){
    display: none!important
}
body:not(.home) header:not(.fusion-is-sticky) #menu-menu-principal-home li a span {
    color: #333;
}
body:not(.home) #menu-menu-principal-home li:hover a span {
    color:#1894B6
}
body:not(.home) #menu-menu-top li a .menu-text{
    color: #0260A0;
    font-weight: bold;
}
body:not(.home) #menu-menu-top > li .fusion-megamenu-icon i{
    background: #0260A0;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    font-size: 16px;
    font-family: fontawesome;
}
body:not(.home) #menu-menu-top > li:not(.link-red-social):before{
    background: #0260A0;
}
body.home #menu-item-136,
body.home #menu-item-135{
    display: none
}
#menu-item-135,
#menu-item-136{
    background: #0260A0
}
body #menu-menu-top  #menu-item-135 a .menu-text,
body #menu-menu-top  #menu-item-136 a .menu-text{
    color: #fff
}
body:not(.home) #menu-menu-top > #menu-item-136:not(.link-red-social):before{
   /* background: #fff*/
}
body:not(.categoria-id-5).single #content .fusion-post-slideshow,
body:not(.categoria-id-5).single #content  h2.fusion-post-title{
    display: none;
}
.fusion-page-title-bar .fusion-breadcrumbs a,
.fusion-page-title-bar .fusion-breadcrumbs span{
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-style: italic;
}
.fusion-page-title-secondary{
    text-align: left;
}
.fusion-page-title-bar .fusion-breadcrumbs > span:last-child{
    font-weight: bold;
}
body .fusion-page-title-wrapper{
    display: inline-block;
    padding: 40px 0
}
body .fusion-page-title-wrapper .fusion-page-title-secondary,
body .fusion-page-title-wrapper .fusion-page-title-captions{
    display: block;
    width: 100%;
    padding: 0 15px
}
.fusion-page-title-bar h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold!important;
}
.post-content .titulo-paquete{
    color: #1293CD;
    font-family: 'Roboto', sans-serif;;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: uppercase;
}
.post-content .fecha-inicio-fin{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;;
    text-transform: capitalize;
    color: #777!important;
    margin-top: 0
}

body:not(.home) .post-content p{
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
    font-weight: 400;
}
a[class*="boton-"]{
    background: transparent;
    border: 1px solid #000!important;
    display: inline-block;
    border-radius: 0!important;
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
    text-align: left;
    width: 250px!important
}
a.boton-1{
    color: #333;
    padding: 10px;
    line-height: normal
}
a.boton-2{
    border: 1px solid #FF4F19!important;
    padding: 10px;

}
a.boton-2 span,
a.boton-2{
    color: #FF4F19!important;
    text-transform: none;
}
a.boton-1:hover{
    background: #777;
    color: #fff;
    border-color: #777
}
a.boton-2:hover{
    background: #FF4F19
}
a.boton-2:hover span,
a.boton-2:hover{
    color: #fff!important
}
body:not(.home) #main > .fusion-row{
    background: #fff;
}
body.pag-vacaciones #main > .fusion-row{
    background: transparent;
}
body:not(.home) #main > .fusion-row > #content{
    background: #fff;
    position: relative;
    margin: 0 auto;
  	padding-top: 0px;
  	padding-bottom: 0px;
}

body.pag-vacaciones #main > .fusion-row > #content{
    background: transparent;
    position: relative;
    margin: 0 auto;
  	padding-top: 0px;
  	padding-bottom: 0px;
}
body:not(.home) #main > .fusion-row > #content:before{
    content: "";
    width: 100px;
    height: 100%;
    display: block;
    position: absolute;
    background: #fff;
    top: 0;
    left: -100px;
}

body.pag-vacaciones #main > .fusion-row > #content:before{
    content: "";
    width: 100px;
    height: 100%;
    display: block;
    position: absolute;
    background: transparent;
    top: 0;
    left: -100px;
}
body:not(.home) #main > .fusion-row > #content:after{
     content: "";
     width: 100px;
     height: 100%;
     display: block;
     position: absolute;
     background: #fff;
     top: 0;
     right: -100px;
}

body.pag-vacaciones #main > .fusion-row > #content:after{
     content: "";
     width: 100px;
     height: 100%;
     display: block;
     position: absolute;
     background: transparent;
     top: 0;
     right: -100px;
}

.tabs-post-interno{
    max-width: 1100px;
    margin: 0 auto
}
.fusion-tabs.tabs-post-interno .nav-tabs li a{
    background: transparent!important;
    border: 0!important
}
.fusion-tabs.tabs-post-interno .nav-tabs li a h4{
    position: relative;
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
}
.fusion-tabs.tabs-post-interno .nav-tabs li a h4:before{
    width: 2px;
    height: 23px;
    background: #9C9C9C;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    content: "";
}

.fusion-tabs.tabs-post-interno .nav-tabs{
    border: 0
}
.fusion-tabs.tabs-post-interno .nav-tabs li.active h4:before,
.fusion-tabs.tabs-post-interno .nav-tabs li.active + li h4:before,
.fusion-tabs.tabs-post-interno .nav-tabs li:first-child h4:before{
    display: none;
}
.fusion-tabs.tabs-post-interno .nav-tabs li.active{
    border: 1px solid #0097D5;
    border-bottom: 0
}
.fusion-tabs.tabs-post-interno .tab-content .tab-pane{
    border: 0
}
.fusion-tabs.tabs-post-interno .tab-content{
    border: 1px solid #0097D5
}
.fusion-tabs.tabs-post-interno .nav-tabs li.active h4{
    color:  #0097D5;
    text-shadow: 0.5px 0.5px 0.5px #0296e0;
}
.fusion-tabs.tabs-post-interno .nav-tabs li.active:before{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #fff;
    position: absolute;
    bottom: -1px;
    z-index: 999;
}
.fusion-tabs.tabs-post-interno .tab-content .tab-pane *{
    font-family: 'Roboto', sans-serif;;
    font-size: 17px;
    font-weight: 100
}
.fusion-tabs.tabs-post-interno .tab-content .tab-pane strong{
    font-size: 18px;
    font-style: italic;
    color: #0097D5
}
.fusion-tabs.tabs-post-interno .tab-content .tab-pane{
    padding: 20px 35px
}
.single-related-posts{
    margin-left: -50%;
    margin-right: -50%;
    background: url("../images/Fondo-Otros-Paquetes.jpg") no-repeat 0 0 transparent;
    background-size: cover;
    position: relative;
    z-index: 9;
}
.single-related-posts > div{
    max-width: 1300px;
    margin: 0 auto;
}
.fusion-carousel .max-width-1030{
    max-width: 1030px;
    margin: 0 auto
}
.fusion-carousel .fusion-carousel-positioner{
    margin-left: 0!important
}
.max-width-1030{
    overflow:hidden;
}
.max-width-1030 > .fusion-carousel-wrapper{
    margin-left: -44px!important
}

.fusion-carousel .fusion-carousel-nav .fusion-nav-next, .fusion-carousel .fusion-carousel-nav .fusion-nav-prev{
    background: transparent!important
}

.fusion-carousel .fusion-carousel-nav .fusion-nav-next{
     left: auto!important;
     right: 88px!important
}
.fusion-carousel .fusion-carousel-nav .fusion-nav-prev{
    left: auto!important;
}

.fusion-carousel .fusion-carousel-nav .fusion-nav-next:before,
.fusion-carousel .fusion-carousel-nav .fusion-nav-prev:before{
    color: #555;
    font-size: 48px!important
}
.fusion-carousel .fusion-carousel-item{
    opacity: 0.6;
}
.fusion-carousel .fusion-carousel-item:hover{
    opacity: 1;
}
.fusion-carousel .fusion-carousel-item img{
    border-radius: 7px
}
.title-post-relacionados{
    max-width: 1300px;
    margin: 0 auto;
    color: #0096D5;
    font-size: 24px;
    font-weight: 300;
    padding: 25px 0;
}
.post-content .fecha-inicio-fin strong{
    font-weight: normal;
}
.post-content .fecha-inicio-fin strong:first-child:after{
    content: "-";
    margin-right: 2px;
    margin-left: 5px
}
.blog-tipo1 > div > article > .fusion-flexslider{
	max-width: 59%;
	display: inline-block;
	vertical-align: top;
    margin-bottom: 0;
}
.blog-tipo1 > div > article > .fusion-post-content{
	max-width: 40%;
	display: inline-block;
	vertical-align: top;
	padding-left: 3%;
  	font-family: 'Roboto', sans-serif !important;
}

.blog-tipo1 .blog-shortcode-post-title:before{
    content: "\f041";
    font-family: fontawesome;
    color: #3990D5!important;
    font-size: 28px;
    position: absolute;
    left: 0;
    top: inherit
}
.blog-tipo1 .blog-shortcode-post-title a,
.fusion-modal h3{
    font-size: 25px!important;
    font-family: 'Roboto', sans-serif;;
    color: #039ECC!important
}
.blog-tipo1 .blog-shortcode-post-title {
    position: relative;
    padding-left: 23px;
    margin-bottom: 0;
}
.blog-tipo1 .subtitulo-post{
    font-family: 'Roboto', sans-serif;;
    font-size: 18px;
    padding-left: 25px
}
.blog-tipo1 .fusion-post-content-container > p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px!important
}
.blog-tipo1 a.boton-2{
    margin-top: 25px
}
.fusion-blog-pagination .pagination{
    float: none;
    width: 100%;
    text-align: center;
}
.fusion-blog-pagination .pagination a,
.fusion-blog-pagination .pagination span{
    background: transparent!important;
    color: #333!important;
    border: 0!important;
    font-size: 18px!important;
    font-family: 'Roboto', sans-serif
}
.fusion-blog-pagination .pagination .page-text{
    display: none
}
.fusion-blog-pagination .pagination .pagination-next:after,
.fusion-blog-pagination .pagination .pagination-prev:before{
    font-size: 28px!important;
    margin-top: -5px
}
.fusion-blog-pagination .pagination > span.current{
    color: #0181B0
}
a:hover:before{
    color: #0181B0!important
}
a:hover{
    color: #0181B0
}
.div-leermas{
    position: absolute;
    bottom: 0;
  	right: 0;
}
.blog-tipo1 > div > article{
    position: relative
}
.div-leermas > a.link-leermas{
    color: #0181B0;
    font-family: 'Roboto', sans-serif;;
    font-size: 15px;
    font-style: italic;
    border-bottom: 1px solid #0181B0;
}
#bcn_widget-2{
    color: #1795CF;
    font-size: 16px;

}
#bcn_widget-2 > div > span:last-child span{
    color: #1795CF;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    position: relative;
}
#bcn_widget-2 a.home span{
    font-weight: normal;
    color: #1795CF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;;
}
#bcn_widget-2 > .breadcrumbs{
    width: auto;
    display: inline-block;
    padding-right: px;
    border-bottom: 3px solid #91CBDF
}
#bcn_widget-2 > div > span:last-child span:after{
    content:"";
    width: 100%;
    height: 3px;
    background: #1795CF;
    display: inline-block;
    position: absolute;
    bottom: -6px;
    left: 0
}
.salida-llegada{
    font-size: 18px;
  	margin-top: 15px;
}
.contenedor-precios-sol-usd > span{
    display: inline-block;
    vertical-align: top;
    color: #009DD0;
    margin-top: 10px;
    font-size: 15px;
    margin-right: 5px;
}
.contenedor-precios-sol-usd > .precio-sol-usd{
    display: inline-block;
    vertical-align: top;
}
.precio-usd{
    color: #009DD0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.precio-sol{
    font-size: 21px
}
.simbolo-usd{
    font-size: 16px;
    margin-right: 5px;
    font-weight: bold;
}
.simbolo-sol{
    font-size: 15px
}
.contenedor-precios-sol-usd{
    margin-bottom: 25px;
  margin-top: 15px;
}
.sin-enlace-a-post .blog-shortcode-post-title a{
    pointer-events:none;
    display: block;
    cursor: default;
}
.sin-enlace-a-post .fusion-flexslider .fusion-image-wrapper a{
    pointer-events:none;
    display: block;
    cursor: default;
}
/*pagina contacto*/
#Contacto-Form > .fusion-column-wrapper > .fusion-builder-row{
    max-width: 1300px!important;
    margin: 0 auto;
}

#Contacto-Form form{
    max-width: 525px;
    margin: 45px auto;
}

#Contacto-Form .imageframe-align-center{
    padding-top: 50px
}
#Contacto-Form h2.title-heading-center{
    color: #0096D5;
    font-size: 30px!important;
    font-family: 'Roboto', sans-serif;;
    margin-top: 20px;
    margin-bottom: 0
}
#Contacto-Form .fusion-title{
    margin-bottom: 5px!important
}
#Contacto-Form form .col-sm-6,
#Contacto-Form form .col-sm-12{
    padding: 5px
}
#Contacto-Form form input:not(.wpcf7-submit),
#Contacto-Form form select,
#Contacto-Form form textarea{
    border: 1px solid #7c7c7c
}
#Contacto-Form form input:not(.wpcf7-submit),
#Contacto-Form form select{
    height: 35px
}
#Contacto-Form form textarea{
    max-height: 100px
}
#wrapper .select-arrow{
    border: 0;
    color: #7c7c7c;
    font-size: 15px
}
#Contacto-Form form input.wpcf7-submit{
    background: #0096D5;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 8px 35px;
    border-radius: 0;
    border: 1px solid #0096D5;
}
#Contacto-Form form input.wpcf7-submit:hover{
    background: #fff;
    color: #0096D5;
}
#Contacto-Form .fusion-content-boxes {
    text-align: center;
}
#Contacto-Form .fusion-content-boxes .content-box-column{
    padding: 0
}
#Contacto-Form .fusion-content-boxes .content-box-column .content-container{
    margin-bottom: 0
}
#Contacto-Form .fusion-content-boxes .content-box-column .content-container p{
    font-size: 14px
}
#Contacto-Form .fusion-content-boxes .content-box-column .fusion-read-more-button{
    float: none!important;
    background: transparent;
    color: #0096D5;
    border: 1px solid #0096D5;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 8px 35px;
    border-radius: 0;
}
#Contacto-Form .fusion-content-boxes .content-box-column .fusion-read-more-button:hover{
    background: #0096D5;
}
#Contacto-Form .fusion-content-boxes .content-box-column .fusion-read-more-button:hover span{
    color: #fff
}
.Destinos .wpcf7-select-parent {
    overflow: visible;
}
#Suscribe_Form h3{
    color: #FF4F19;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#Suscribe_Form form .select-arrow{
    display: none
}
#Suscribe_Form form input{
    background: #fff;
    height: 35px;
}
#Suscribe_Form form .fila-cf7{
    margin-bottom: 10px;
    display: block
}
body.page-id-365 #main,
body.page-id-365 #main > .fusion-row,
body.page-id-365 #main > .fusion-row > #content,
body.page-id-365 #main > .fusion-row > #content:before,
body.page-id-365 #main > .fusion-row > #content:after{
    background: #F3F7FA!important
}
#Suscribe_Form form .fila-newsletter-subs{
    font-size: 13px;
}
#Suscribe_Form form .Destinos button[type="button"]{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0
}
#Suscribe_Form form .Destinos button .filter-option{
    text-align: left;
    color: #333
}
#Suscribe_Form form .Destinos button.bs-placeholder .filter-option{
    text-align: right;
    font-size: 12px;
    color: #333;
}
#Suscribe_Form form input[type="submit"]{
    background: #FE5119;
    text-transform: none;
    padding: 5px 35px;
    font-weight: bold
}
body.page-id-365 #main{
    padding-bottom: 0;
    padding-left:0!important;
    padding-right: 0!important
}
body.page-id-365 #main{
    padding-bottom: 0;
    padding-left:0!important;
    padding-right: 0!important
}

body:not(.home) header.fusion-is-sticky #menu-menu-principal-home li:hover a span{
    color: #fff;
    text-shadow: 0.5px 0.5px 0.5px  #fff
}
body:not(.home) header.fusion-is-sticky #menu-menu-principal-home li a:hover span,
body:not(.home) header.fusion-is-sticky #menu-menu-principal-home li a span:hover{
    text-decoration: none;
    border: 0
}

.paquetes-carrusel .bx-wrapper .bx-controls-direction a{
    text-indent:0
}
.paquetes-carrusel{
    max-width: 1145px;
    margin: 0 auto;
}
.paquetes-carrusel .bx-wrapper{
    width:100%;
    max-width: none!important
}
.bx-wrapper .bx-controls-direction a.bx-prev{
    left: -45px;
}
.bx-wrapper .bx-controls-direction a.bx-next{
    right: -45px;
    text-align: right;
}
.bx-wrapper .bx-controls-direction a i{
    font-size: 50px;
}
.bx-wrapper .bx-controls-direction a i:not(:hover){

    color: #AEAEAE
}
.paquetes-carrusel article .fusion-flexslider{
    height: 420px;
  	margin-bottom: 0;
}
.paquetes-carrusel .bx-wrapper .bx-viewport{
    height: 430px!important
}
.paquetes-carrusel article .fusion-flexslider img{
    height: 420px;
    width: auto;
    max-width: none;
    border-radius: 10px;
}
.paquetes-carrusel article .fusion-flexslider .fusion-image-wrapper{
    border-radius: 10px;
}
.paquetes-carrusel .bx-wrapper{
    box-shadow: none;
}
.paquetes-carrusel .fusion-post-content {
	position: absolute;
    bottom: 0;
    z-index: 999;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
  	padding: 10px;
}
.post-content .contenido-vacaciones .fecha-inicio-fin strong:first-child:after{
    content:"/";
}

.paquetes-carrusel .fusion-post-content *,
#content .paquetes-carrusel .fusion-post-content h2 a{
    color: #fff
}
#content .paquetes-carrusel .fusion-post-content .div-leermas-2{
    display: inline-block;
    width: auto !important;
    vertical-align: bottom;
    float: left;
    background: #fff;
    border: 0!important;
    padding: 2px 15px;
    border-radius: 10px!important
}
#content .paquetes-carrusel .fusion-post-content .div-leermas-2 a{
    color: #0195D3
}
#content .paquetes-carrusel .fusion-post-content a.boton-3{
    display: inline-block;
    width: auto!important;
    vertical-align: bottom;
    float: right;
    background: #0195D3;
    border: 0!important;
    padding: 2px 15px;
    border-radius: 10px!important
}
.font-script .fusion-title h2.title-heading-left{
    color:#01A13D;
    font-family: OScriptR!important;
    font-size: 33px!important;
}
.font-script .fusion-title{
    margin-bottom: 0!important
}

.text-blanco *,
.text-blanco h2{
    color: #fff
}
.font-roboto .fusion-title h2.title-heading-left{
    font-family: 'Roboto', sans-serif !important;
}
.boton-4 span{
    border: 2px solid #fff!important;
    text-transform: none;
    padding: 8px 25px
}
.font-roboto .fusion-title {
    margin-bottom: 10px!important
}
.boton-4{
    padding: 0
}
.font-roboto .boton-4{
    width: auto!important
}
.font-roboto .boton-4:hover{
    background: transparent
}
.bloque-left > .fusion-column-wrapper > *{
    max-width: 711px;
    float: right;
    width: 100%
}

.font-script h2.title-heading-center,
.font-script h2.title-heading-left{
    font-family: OScriptR!important;
    color: #0097D5;
    font-size: 40px!important;
    margin-top: -10px
}
.titulo-estilo-2 .fusion-title .title-sep-container .title-sep{
   border-width: 1px
}

.fusion-aligncenter .boton-5{
    width: auto!important;
    color: #6E6E6E;
    padding: 5px 30px;
    border-radius: 20px!important;
    border: 1px solid #6E6E6E!important
}
.fusion-aligncenter .boton-5 span{
    color: #6E6E6E!important;
    text-transform: none;
}
.fusion-aligncenter .boton-5:hover span{
    color: #fff!important
}
.paquetes-carrusel article .fusion-flexslider img {
filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */

-webkit-transition: all 0.8s ease;
-moz-transition: all 0.8s ease;
-ms-transition: all 0.8s ease;
-o-transition: all 0.8s ease;
transition: all 0.8s ease;
}
.paquetes-carrusel article:hover .fusion-flexslider img {
filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%); /* Para cuando es estándar funcione en todos */
}

.paquetes-carrusel .fusion-post-content{
    display: none;
}

.paquetes-carrusel article:hover .fusion-post-content{
    display: block
}


.paquetes-carrusel h2.blog-shortcode-post-title{
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 5px;
    font-size: 20px!important
}
.dias-noches-carrusel{
    font-size: 16px
}
.paquetes-carrusel .precio-usd{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;;
    margin-bottom: 15px
}
#content .paquetes-carrusel .fusion-post-content .div-leermas-2:hover{
    background: #0195D3;

}
#content .paquetes-carrusel .fusion-post-content .div-leermas-2:hover a{
    color: #fff!important
}
#content .paquetes-carrusel .fusion-post-content a.boton-3:hover{
    background: #fff;
    color: #0195D3
}
#content .paquetes-carrusel .fusion-post-content .div-leermas-2 a{
    font-size: 15px
}

.dias-precio-remove .dias-noches-carrusel,
.dias-precio-remove .precio-usd{
    display: none
}

.dias-precio-remove .extracto-carousel{
    margin-bottom: 15px
}
.sin-carrusel .fusion-post-content-wrapper{
    padding: 0
}
.sin-carrusel  article .fusion-post-wrapper{
    border: 0;
    position: relative
}
body .fusion-load-more-button.fusion-blog-button {
    color: #fff;
    background: #0096D5;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    max-width: 120px;
    margin: 20px auto;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
  	border: 1px solid #0096D5;
}
body .fusion-load-more-button.fusion-blog-button:hover{
	color: #0096D5;
    background: #ffffff;
}
.line-height-normal h2{
    line-height: 40px!important;
    margin-top:0!important
}
.icon-sobre-slider .fusion-column-wrapper{
    background-size: auto!important;
}
.icon-sobre-slider{
    margin-top: -104px!important;
    position: relative;
}
.icon-sobre-slider .fusion-column-wrapper img{
    padding-top: 25px;
    padding-bottom: 20px
}
.page-list.menu-estilo-1{
    padding: 0;
    list-style: none;
    margin: 0;
    width: auto;
    text-align: center;
   	font-size: 0;
}
.page-list.menu-estilo-1 li{
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    padding: 15px;
    margin: 0;
  	font-size: 16px
}
body.single-post #content .fusion-meta-info{
    display: none
}
body.single-post #content article{
    padding-top: 35px
}
body.categoria-id-7 .fusion-carousel-positioner ul li.fusion-carousel-item h4.fusion-carousel-title{
    text-align: center;
    font-size: 18px;
}
body.categoria-id-7 .fusion-carousel-positioner ul li.fusion-carousel-item h4.fusion-carousel-title a{
    color: #6E6E6E;
    font-family: 'Roboto', sans-serif;;
}
body.categoria-id-7 .fusion-carousel-positioner ul li.fusion-carousel-item:hover h4.fusion-carousel-title a{
    color: #00A13C;
}
body.categoria-id-7 .fusion-carousel-positioner ul li.fusion-carousel-item .info-adicional > *{
    color: #6E6E6E;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
body.categoria-id-7 .title-post-relacionados{
     color: #00A13C;
}
body.categoria-id-7 .leer-mas-related-post{
	display:none
}
body:not(.categoria-id-7).single-post .fusion-carousel .max-width-1030 {
    max-width: 1070px;
    margin: 0 auto;
}
body:not(.categoria-id-7).single-post .fusion-carousel .fusion-carousel-item .fusion-carousel-item-wrapper{
    position: relative;
}
body:not(.categoria-id-7).single-post .fusion-carousel .fusion-carousel-item .fusion-carousel-item-wrapper .contenedor-info-related-post{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
  	border-radius: 0 0 10px 10px;
}
body:not(.categoria-id-7).single-post .fusion-carousel .fusion-carousel-item .fusion-carousel-item-wrapper .contenedor-info-related-post h4 a{
    color: #fff;
    font-size: 20px
}
body:not(.categoria-id-7).single-post .fusion-carousel .fusion-carousel-item .fusion-carousel-item-wrapper .contenedor-info-related-post h4{
    margin: 0
}
body:not(.categoria-id-7).single-post .fusion-carousel .fusion-carousel-item .fusion-carousel-item-wrapper .contenedor-info-related-post *{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;;
    line-height: normal;
}
body:not(.categoria-id-7).single-post .info-adicional .leer-mas-related-post{
    background: #888;
    color: #fff;
    font-size: 15px!important;
    padding: 5px 15px;
    border-radius: 10px;
    display: block;
    width: auto;
    max-width: 100px;
    text-align: center;
    margin: 5px auto
}
body:not(.categoria-id-7).single-post  .fusion-carousel-item:hover .info-adicional .leer-mas-related-post{
  background: #13BCF7;
}
body:not(.categoria-id-7).single-post  .fusion-carousel-item .info-adicional .leer-mas-related-post:hover{
    color: #13BCF7;
    background: #fff
}
body.page-id-294 #main > .fusion-row > #content:after,
body.page-id-294 #main > .fusion-row > #content:before{
    display: none
}
.title-h2 h2{
    font-size: 30px!important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600!important
}
.color-celeste *{
    color: #0D91CF!important
}
.tabs-nosotros ul.nav-tabs > li > a{
    background: transparent!important;
    border:0!important
}
.tabs-nosotros ul.nav-tabs > li > a > h4{
    font-size: 25px!important;
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
    color: #0D91CF !important;
}
.tabs-nosotros ul.nav-tabs > li.active > a > h4{
    font-size: 25px!important;
    font-family: 'Roboto', sans-serif!important;
    text-transform: uppercase;
    text-decoration: underline
}
.tabs-nosotros ul.nav-tabs{
    max-width: 500px
}

.tabs-nosotros ul.nav-tabs li:first-child:before{
    width: 2px;
    height: 20px;
    background: #0096D5;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px
}
.tabs-nosotros ul.nav-tabs li{
    position: relative
}
.tabs-nosotros ul.nav-tabs li.active:first-child:before{
    right: 1px
}
#Div-Ventajas .fusion-column-wrapper ul li{
    font-size: 15px
}


#Div-Hoteles-Proveedores .tabs-nosotros ul.nav-tabs li a h4{
    color: #fff!important;
  text-transform: none;
}
#Div-Hoteles-Proveedores .tabs-nosotros ul.nav-tabs li:first-child:before{
    background: #fff
}
#Div-Hoteles-Proveedores .tabs-nosotros .tab-content div.tab-pane{
    color: #fff;
    font-size: 15px
}
#Div-Hoteles-Proveedores .tabs-nosotros .tab-content div.tab-pane ul{
    -webkit-columns: 100px 5; /* Chrome, Safari, Opera */
    -moz-columns: 100px 5; /* Firefox */
    columns: 100px 5;
    list-style: none
}
#Div-Hoteles-Proveedores .tabs-nosotros .tab-content div.tab-pane ul li:before{
    content: ".";
    font-size: 25px;
    line-height: 10px;
    margin-right: 10px;
    position: relative;
    top: -3px
}

#Rev-Regulaciones *{
    color: #fff
}
#Rev-Regulaciones a[class*="boton-"]{
    width: auto!important;
    border: 0!important;
    background: transparent!important;
    margin-top: 20px;
}
#Rev-Regulaciones a[class*="boton-"] span:hover{
    background: #fff;
    color: #333
}
#Div-Staff .heading h2 b,
#Div-Staff .heading h2 small{
    display: block;
    color: #0096D5;
    font-family: 'Roboto', sans-serif;;
    font-size: 1.1em
}

#Div-Staff .heading h2 small{
    font-size: .9em
}


#Div-Staff .content-staff .content-wrapper{
    padding: 10px;
    min-height: 150px;
}
#Div-Staff .content-staff .content-wrapper .content-container{
    display: none
}
#Div-Staff .content-staff .content-wrapper:hover .content-container{
    background: #0096D5;
    display: block;
    padding: 20px;
}

#Div-Staff .content-staff .content-wrapper:hover .heading{
    display: none
}
#Div-Staff .content-staff .content-wrapper:hover .content-container *{
    color: #fff
}
#Div-Staff *{
      -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

}
#Div-Staff  .fusion-content-boxes.fusion-columns-1 .fusion-column{
    margin-bottom: 0
}
.forms-reservas-paquetes > .nav > ul > li > a > h4{
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px!important
}
.forms-reservas-paquetes > .nav > ul > li.active > a > h4{
    font-family: 'Roboto', sans-serif!important;
}

.forms-reservas-paquetes > .nav > ul > li:nth-child(1){
    border-radius: 5px 0 0 0;
    overflow: hidden
}
.forms-reservas-paquetes > .nav > ul > li:nth-child(2){
    border-radius: 0 5px 0 0;
    overflow:hidden;
}
.forms-reservas-paquetes > .nav > ul{
    background: transparent!important;
      margin: 0 0 -6px!important;
}
#wpmem_reg .div-wrapper-field,
#wpmem_login .div-wrapper-field{
    display: inline-block;
}
#wpmem_reg .div-wrapper-field label.text,
#wpmem_login .div-wrapper-field label{
    height: auto;
    background: none;
    text-align: right;
    padding-right: 20px
}
#wpmem_reg label.text,
#wpmem_reg .div_text,
#wpmem_login label.text,
#wpmem_login .div_text{
    background: none;
}
#wpmem_reg .div-wrapper-field .div_text,
#wpmem_login .div-wrapper-field .div_text{
    background: transparent
}
#wpmem_reg form .button_div,
#wpmem_login form .button_div{
    border: 0;
  	background: transparent;
}
#wpmem_reg form .button_div input,
#wpmem_login form .button_div input{
    cursor: pointer
}
#wpmem_reg fieldset *,
#wpmem_login fieldset *{
    font-family: 'Roboto', sans-serif !important;
}
#wpmem_reg fieldset input,
#wpmem_login fieldset input{
    font-size: 14px!important;
    color: #008853!important;
    background: transparent!important;
}
#wpmem_reg .div-wrapper-field label.text,
#wpmem_login .div-wrapper-field label{
    color: #0A8DD1;
    text-transform: uppercase;
    font-size: 14px
}
#wpmem_reg legend, #wpmem_login legend{
    background: #0A8DD1!important;
    color: #fff;
    text-shadow: none!important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100!important;
    border: 0!important;
    padding-left: 20px!important;
    padding-right: 20px!important
}
#wpmem_reg form .button_div input, #wpmem_login form .button_div input{
    font-weight: normal;
    font-size: 13px!important;
    color: #fff!important;
    background: #008853!important;
    border: 1px solid #008853!important;
}
#wpmem_reg form .button_div input:hover, #wpmem_login form .button_div input:hover{
    background: transparent!important;
    color: #008853!important;

}

body.page-id-419 #main > .fusion-row > #content:before,
body.page-id-419 #main > .fusion-row > #content:after,
body.page-id-421 #main > .fusion-row > #content:before,
body.page-id-421 #main > .fusion-row > #content:after{
    display: none
}
body.page-id-419 #main > .fusion-row,
body.page-id-419 #main > .fusion-row > #content,
body.page-id-421 #main > .fusion-row,
body.page-id-421 #main > .fusion-row > #content{
    background: transparent;
}
body.page-id-419 #main,
body.page-id-421 #main{
    background-size: cover
}

.activar-form-datos{
    background: #008853;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #008853;
}
.activar-form-datos:hover{
    background: #fff;
    color: #008853;
}

#atstbx.at-style-responsive .at-share-btn{
    border-radius: 5px!important;
    background: #2367B8!important;
    border: 1px solid #2367B8!important
}

#atstbx.at-resp-share-element .at-share-btn:focus,
#atstbx.at-resp-share-element .at-share-btn:hover {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    color: #fff;
    text-decoration: none;
}
#atstbx.at-resp-share-element .at-share-btn:hover {
    background: #fff!important
}
#atstbx.at-resp-share-element .at-share-btn:hover *,
#atstbx.at-resp-share-element .at-share-btn:hover .at-icon{
    color: #2367B8!important;
    fill: #2367B8!important
}
.user-not-login form fieldset .link-text:last-child{
    display: none
}
.user-not-login #wpmem_login fieldset{
    border: 0
}
.user-not-login #wpmem_login legend{
    color: #01A13D;
    background: transparent!important;
    font-weight: bold!important
}
.user-not-login #wpmem_login legend > b{
    font-size: 15px;
    color: #333;
    font-weight: normal
}
.user-not-login #wpmem_login .form{
    max-width: 530px
}
.user-not-login #wpmem_login .form label{
    width: 160px;
	text-transform: none;
    color: #333;
}
.user-not-login #wpmem_login .form .div_text{
    width: 250px
}
.user-not-login #wpmem_login .form .div_text input{
    width: 100%;
  	height: 35px;
}

.user-not-login #wpmem_login .form fieldset > *:not(legend){
    max-width: 450px
}

.user-not-login #wpmem_login .form fieldset .button_div ~ .link-text{
    text-align: left;
    color: #ddd
}

.user-not-login #wpmem_login .form fieldset .button_div ~ .link-text a{
    text-align: left;
    color: #797979;
    font-size: 12px
}
.user-not-login #wpmem_login .form .button_div{
    margin-top: 10px;
    padding-right: 100px;
    width: auto
}
#wpmem_reg, #wpmem_login{
    padding-top: 0!important
}
#wpmem_reg fieldset, #wpmem_login fieldset{
    padding-top:0!important;
    margin-top:0!important
}
#wpmem_login  label{
    background: transparent!important
}
.invitacion-a-registro .fusion-title{
    margin-bottom: 8px!important;
    margin-top: 7px!important
}
.invitacion-a-registro .fusion-title h3{
    font-size: 20px;
    color: #01A13D;
    background: transparent!important;
    font-weight: bold!important;
    font-family: 'Roboto', sans-serif;
}
.invitacion-a-registro a.boton-verde{
    width: auto!important;
    border-color: #01A13D!important;
    padding: 10px 55px
}
.invitacion-a-registro a.boton-verdea:hover{
    border-color: #005494!important
}
.invitacion-a-registro a.boton-verde span{
    text-transform: none
}
#wpmem_login .div_text{
    background: none!important
}
.invitacion-a-registro{
    padding: 0 0 0 30px
}

.user-not-login #wpmem_login{
    position:relative;
}

#wpmem_reg, #wpmem_login {
    width: 100%!important;
    max-width: 630px;
}

body.page-id-421 #wpmem_reg legend{
    display: none
}
body.page-id-421 #wpmem_reg fieldset{
    border: 0
}

body.page-id-421 #wpmem_reg .div-wrapper-field label.text{
    text-transform: none;
    color: #333
}


body.page-id-421 #wpmem_reg .div-wrapper-field label[for="captcha"] ~ .div_text #captcha_code{
    width: 200px;
    float: right;
    margin-right: 0px
}
body.page-id-421 #wpmem_reg .div-wrapper-field label[for="captcha"] ~ .div_text img{
    float: left;
    margin-left: 25px
}
body.page-id-421 #wpmem_reg label.text,
body.page-id-421 #wpmem_reg .div_text{
    background: transparent!important
}
body.page-id-421 #wpmem_reg fieldset input:not(.buttons){
    width: 100%;
    height: 35px;
    background: #fff!important
}
.fusion-modal.max-width-500 .modal-dialog{
    max-width: 500px
}

.fusion-portfolio-1 .fusion-portfolio-wrapper .fusion-col-spacing a{
    display: block;
    pointer-events: none
}

.fusion-portfolio-1 .fusion-portfolio-wrapper .fusion-col-spacing > .fusion-portfolio-content-wrapper{
    position: relative;
    overflow: hidden;
}
.fusion-portfolio-1 .fusion-portfolio-wrapper .fusion-col-spacing > .fusion-portfolio-content-wrapper .fusion-portfolio-content{
    position: absolute;
    top: 0;
    left: 0;
    /*right: 0;*/
    bottom: 0;
    z-index: 99;
    background: rgba(93, 188, 122, 0.8);
    margin: 0;
    color: #fff;
    text-align: center;
    width: 98%;
    opacity: 0;
  	padding-top: 10%;
}
.fusion-portfolio-1 .fusion-portfolio-wrapper .fusion-col-spacing:hover > .fusion-portfolio-content-wrapper .fusion-portfolio-content{
    opacity: 1
}
.fusion-portfolio-1 .fusion-portfolio-wrapper .fusion-col-spacing > .fusion-portfolio-content-wrapper .fusion-portfolio-content h2 a{
    color: #fff;
    font-family: 'Roboto', sans-serif;;
    text-align: center
}
.fusion-portfolio-1 .fusion-portfolio-wrapper .fusion-col-spacing > .fusion-portfolio-content-wrapper .fusion-portfolio-content  .fusion-post-content{
    text-align: center;
}
.fusion-portfolio-1 .fusion-portfolio-wrapper *{
    transition: 100ms 100ms all ease-out;
    -webkit-transition: 100ms 100ms all ease-out;
    -ms-transition: 100ms 100ms all ease-out;
    -o-transition: 100ms 100ms all ease-out;
    -moz-transition: 100ms 100ms all ease-out
}
ul.page-list {
    list-style: none;
    padding-left: 0;
    border: 2px solid #e6e5e5;
    padding: 10px 20px 10px 10px;
  	margin-top: 0;
}
ul.page-list ul.children{
    padding-left: 20px;
    list-style-type: square;
}
ul.page-list *{
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    font-size: 14px
}
ul.page-list ul.children *{
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    font-size: 13px
}
ul.page-list > li{
    margin-bottom: 10px
}
ul.page-list > li > a{
    border-bottom: 2px solid #5EBD7B;
    display: inline-grid;
    width: 100%;
    color: #5EBD7B
}
ul.page-list > li > a{
    border-bottom: 2px solid #5EBD7B;
    display: inline-grid;
    width: 100%;
    color: #5EBD7B
}
ul.page-list > li > ul.children > li{
    border-bottom: 1px solid #ddd;
    list-style-position: inside;
    padding: 5px 2px
}
ul.page-list > li > ul.children{
    padding-left: 0
}
ul.page-list > li > ul.children > li:hover{
    background: #5EBD7B;
    color: #fff
}
ul.page-list > li > ul.children > li:hover a{
    color: #fff
}
ul.page-list > li > ul.children > li a{
    display: inline-block;
    width: 80%
}
ul.page-list > li > ul.children > li:last-child{
    border-bottom: 0;
    margin-bottom: 25px
}
ul.page-list > li{
    border-bottom: 1px solid #ccc;
  	margin-bottom: 15px

}
ul.page-list > li:last-child{
    border-bottom: 0
}

.fusion-load-more-button.fusion-portfolio-button{
    width: 100px!important;
    margin: 30px auto 0;
    color: #fff;
    background: #0096D5;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;;
    font-weight: 100;
    max-width: 120px;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #0096D5
}
.page-list > li.page-item-836 > ul {
    overflow: auto;
    height: 190px;
}
.page-list > li.page-item-836 > ul {
    overflow: auto;
    height: 190px;
    padding: 0 5px;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: #5EBD7B;
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
ul.page-list > li.page-item-836 > div{
    left: 180px!important
}
#registrate-calltoaction .title-h2 h2 {
    font-size: 39px!important;
    font-weight: 100!important;
    color: #01A13D;
}
#registrate-calltoaction .title-h2{
    margin-bottom: 0!important
}
#registrate-calltoaction .fusion-title ~ p strong{
    font-weight: normal;
    font-size: 18px
}
body.page-agentes #main > .fusion-row > #content:before,
body.page-agentes #main > .fusion-row > #content:after{
    display: none
}
#text-2 p,
#sticky-posts-2 p,
#text-3 span{
    font-size: 13px
}
.hermes.tparrows:hover .tp-arr-imgholder {
    border: 2px solid #FFC102;
}
body .hermes .tp-arr-titleholder {
    background: #FFC101!important;
}
body.pag-vacaciones ul.page-list,
body.pag-vacaciones .page-list.menu-estilo-1 li{
     border: 0
}
body.pag-vacaciones .page-list.menu-estilo-1 li{
     background: #2DACDF;
     padding-left: 45px;
     padding-right: 45px;
     padding-top: 10px;
     padding-bottom: 10px
}
body.pag-vacaciones .page-list.menu-estilo-1 li a{
      color: #fff;
      border: 0;
}
body.pag-vacaciones .page-list.menu-estilo-1 li:nth-child(1){
    border-radius: 10px 0 0 0
}
body.pag-vacaciones .page-list.menu-estilo-1 li:last-child{
    border-radius: 0 10px 0 0
}
body.pag-vacaciones .page-list.menu-estilo-1 li.current_page_item{
    background: #fff;
}
body.pag-vacaciones .page-list.menu-estilo-1 li.current_page_item a{
    color: #2DACDF;
}
body.pag-vacaciones .page-list.menu-estilo-1 li{
    position: relative;
}
body.pag-vacaciones .page-list.menu-estilo-1 li:before{
    content: "";
    width: 2px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px
}
body.pag-vacaciones .page-list.menu-estilo-1 li:nth-child(1):before,
body.pag-vacaciones .page-list.menu-estilo-1 li.current_page_item:before,
body.pag-vacaciones .page-list.menu-estilo-1 li.current_page_item + li:before{
    display: none;
}

body.pag-vacaciones #Vacaciones_Div > div > div{
    border: 3px solid rgba(204, 204, 204, 0.43);
    border-bottom: 0;
}
body.pag-vacaciones #Vacaciones_Div {
    margin-top: -3px;
    display: inline-block;
    width: 100%;
    z-index: 9;
}
body.pag-vacaciones .page-list.menu-estilo-1 li{
    border-top: 3px solid #2DACDF;
}
body.pag-vacaciones .page-list.menu-estilo-1 li.current_page_item{
    border-top: 3px solid rgba(204, 204, 204, 0.43);
}
body.pag-vacaciones .page-list.menu-estilo-1 li.current_page_item:nth-child(1){
    border-left: 3px solid rgba(204, 204, 204, 0.43);
}
body.pag-vacaciones .page-list.menu-estilo-1 li.current_page_item:last-child{
    border-right: 3px solid rgba(204, 204, 204, 0.43);
}
.Form_Cotizar .modal-body h3,
.Form_Cotizar .modal-body h4{
    display: inline-block;
    vertical-align: middle;
    margin: 0!important;
    text-transform: uppercase;
    font-weight: normal!important;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;;
}
.Form_Cotizar .modal-body h4 strong{
    font-weight: normal!important
}
.Form_Cotizar .modal-footer a{
    display: none
}
.Form_Cotizar .modal-footer{
    padding: 0;
    margin:0
}

.Form_Cotizar .modal-body > p:nth-child(1){
    margin-top: 0
}

.top-parent-36 #menu-menu-top .menu-item-136{
    display: none
}
.top-parent-38 #menu-menu-top .menu-item-135{
    display: none
}
.fusion-modal h3,
.fusion-modal .modal-title, .fusion-modal h3{
    margin-top: 0;
    font-size: 20px!important;
    font-family: 'Roboto', sans-serif;;
}
body:not(.home) .logo-custom-ja{
    display: none
}


/*FIN CSS REGULAR*/

/*CSS RESPONSIVE*/
@media only screen and (min-width : 800px) {

  	#Suscribe_Form form .col-sm-4{
        text-align: right;
    }
  .user-not-login #wpmem_login:before{
      content: "";
      width: 1px;
      height: 100%;
      background: #333;
      position: absolute;
      right: 0;
      top: 0
  }

}
@media only screen and (max-width : 1100px ) {

  .single-related-posts > div{
      max-width: none;
  }
  .single-related-posts{
      margin-left: -30px;
      margin-right: -30px
  }
    .modal-dialog {
      margin-left: auto!important;
    margin-right:  auto!important;
  }

}


@media only screen and (max-width : 800px) {

	#menu-menu-top span.fusion-megamenu-icon ~ span.menu-text{
        display:none
    }
    .blog-tipo1 > div > article > .fusion-flexslider{
      max-width: 100%;
    }
    .blog-tipo1 > div > article > .fusion-post-content{
        max-width: 100%;
        margin-top: 20px
    }
    #Div-Hoteles-Proveedores .tabs-nosotros .tab-content div.tab-pane ul{
        -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
        -moz-columns: 100px 3; /* Firefox */
        columns: 100px 3;
        list-style: none
    }
    body.home  .fusion-header-wrapper .fusion-header, .fusion-header-wrapper .fusion-secondary-main-menu{
        background: transparent
    }
    body.home .fusion-header-wrapper{
        position: absolute;
        width: 100%
    }
    .tab-content .fusion-mobile-tab-nav:nth-child(1) .nav-tabs li.active a{
      background: #EAB704!important
    }
    .tab-content .fusion-mobile-tab-nav:nth-child(3) .nav-tabs li.active a{
        background: #25AE5E!important
    }
    .tab-content .fusion-mobile-tab-nav .nav-tabs li a h4{
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif!important;
        font-size: 18px
    }
    .tab-content .fusion-mobile-tab-nav .nav-tabs li a{
        border-top: 0
    }
    #menu-menu-top #menu-item-136 span.fusion-megamenu-icon ~ span.menu-text{
      display: block
    }

    #menu-menu-top #menu-item-135 span.fusion-megamenu-icon ~ span.menu-text{
        display: block
    }

    body:not(.home) .fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-header{
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      position: relative
    }
    .fusion-mobile-menu-icons a{
        position:absolute;
        z-index: 999;
        top: 20px;
        right:0
    }
    body:not(.home) .fusion-mobile-menu-design-modern.fusion-header-v2 .fusion-header img{
        max-width: 80%
    }
    #Div-Quienes-Somos  .fusion-layout-column:nth-child(1) .fusion-column-wrapper{
      padding: 20px!important
    }
    #Div-Quienes-Somos .fusion-layout-column:nth-child(2) .fusion-column-wrapper{
        padding: 0px!important
    }

    body:not(.home) .tab-content .fusion-mobile-tab-nav .nav-tabs li.active a{
        background: transparent!important
    }
    body:not(.home) .tabs-nosotros ul.nav-tabs li:first-child:before{
        display: none
  }
  #Div-Ventajas .fusion-layout-column .fusion-column-wrapper{
      padding: 0!important
  }
  #Div-Ventajas,
  #Div-Staff{
      padding: 20px!important
  }
    #Div-Hoteles-Proveedores{
      padding: 20px!important
  }
  #Div-Hoteles-Proveedores .tab-pane > ul{
      padding: 0
  }
  .bloque-left > .fusion-column-wrapper > *{
      float: none
  }
  .modal-dialog {
      margin-left: auto!important;
    margin-right:  auto!important;
  }

}
@media only screen and (max-width : 690px) {

  .post-content #wpmem_reg{
        max-width: 450px;
        margin: 0 auto;
        float: none
    }
    #wpmem_reg fieldset input{
        width: 100%!important;
        float: none!important
    }
    #wpmem_reg .div-wrapper-field .div_text{
        width: 100%;
        float: none;
        display: inline-block;
    }
    #wpmem_reg .div-wrapper-field label.text{
        text-align: left;
    }

}

@media only screen and (max-width : 600px) {

      #Div-Hoteles-Proveedores .tabs-nosotros .tab-content div.tab-pane ul{
        -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
        -moz-columns: 100px 2; /* Firefox */
        columns: 100px 2;
        list-style: none
    }
    .user-not-login #wpmem_login legend{
        padding: 0!important
    }
    #menu-menu-top > li a:not(.fusion-icon-only-link){
      margin: 0 10px
  }
  #post-2 ul.link-mp-home > li{
    width: 100%;

}
  .div-leermas{
    position: relative;
    margin-top: 20px
}

}
@media only screen and (max-width : 500px) {

    .user-not-login #wpmem_login .form .button_div{
        padding-right: 0;
        float: none;
      text-align: left;
    }
    .user-not-login #wpmem_login .form .div_text{
        float: none;
    }
    .user-not-login #wpmem_login .form label{
        text-align: left
    }
  .invitacion-a-registro{
      padding-left: 0
  }
  #text-3 > .textwidget > span{
    margin-bottom: 0!important
  }
  #text-3 form p{
      max-width: 180px
  }
    .modal-dialog {
      margin-left: 10px!important;
      margin-right: 10px!important;
  }


}


/* NUEVO RESPONSIVE */
@media (max-width: 575.98px) {
    /* #main {
        padding-left: 15px;
        padding-right: 15px;
    } */

    .post-content .fecha-inicio-fin {
        font-size: 15px;
    }

    .precio-paquetes {
        margin-top: 10px;
    }

    .fusion-tabs.tabs-post-interno .tab-content .tab-pane {
        padding: 10px 5px;
    }

    .fusion-tabs.tabs-post-interno .tab-content .tab-pane * {
        font-size: 14px;
    }

    .single-related-posts {
        margin-left: -30px;
        margin-right: -30px;
    }

    .title-post-relacionados {
        padding: 15px 15px;
    }

    .fusion-carousel .fusion-carousel-nav .fusion-nav-prev {
        margin-left: 0px !important;
        display: block !important;
    }

    .fusion-carousel .fusion-carousel-nav .fusion-nav-next {
        right: 0px!important;
    }

    #menu-item-135, #menu-item-136 {
        display: none;
    }

    .post-content .titulo-paquete {
        font-size: 16px;
    }
}

/*FIN CSS RESPONSIVE*/
