<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media only screen and (min-width : 800px) {

  	
  
}


@media only screen and (max-width : 800px) {

	#menu-menu-top span.fusion-megamenu-icon ~ span.menu-text{
        display:none
    }  
  
}
/*FIN CSS RESPONSIVE*/</style>
<!-- end Simple Custom CSS and JS -->
