
.categoria-titulo {
  float: none !important;
  margin: auto;
}

.relacionado .slick-arrow .fa {
  font-size: 50px;
  color: #aeaeae !important;
}

.relacionado .slick-arrow::before {
  content: none;
}

.relacionado .slick-prev {
  left: -20px;
}

.relacionado .slick-next {
  right: -23px;
}

/* [INICIO] Slider */
.ds-sliders {
  width: 100%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	padding: 0;
  margin: 0;
}

.ds-slider-item {
  position: relative;

  min-height: 500px !important;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.ds-slider-item--detalle {
  width: 100%;
  height: 100%;
  position: absolute;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  color: #ffffff;

  padding-left: 100px;
  padding-right: 100px;
}

.ds-slider-item--detalle div {
  width: 100%;
  max-width: 1300px;
}

.ds-slider-item--titulo {
  font-family: 'AndrogyneR';
  font-size: 62px;
}

.ds-slider-item--parrafo {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.ds-sliders .slick-arrow {
  z-index: 1;
}

.ds-sliders .slick-prev {
  left: 30px;
  width: 40px;
  height: 40px;
}

.ds-sliders .slick-next {
  right: 30px;
  width: 40px;
  height: 40px;
}

.ds-sliders .slick-prev:before, .ds-sliders .slick-next:before {
  font-size: 40px;
}


.ds-slider-item.destinos {
  min-height: 838px !important;
}
/* [FIN] Slider */

/* [INICIO] Box Paquete */
#packagesubtypes {
  height: auto !important;
}

.paquete {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.paquete-head h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  color: #0096D5;

  margin: 0;
}

.paquete-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;
  padding: 0;

  max-width: 1300px;
  margin: auto;
}

.paquete-item {
  position: relative;

  padding: 10px;
  opacity: 0.6;

  width: 25%;
}

.paquete-item:hover {
  opacity: 1;
}

.paquete .paquete-item:hover .paquete-imagen img {
  filter: url(#grayscale);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}


.paquete-imagen img {
  border-radius: 7px;

  width: 100%;
  border-radius: 10px;
  filter: url(#grayscale);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: Gray();
          filter: Gray();
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.paquete-main {
  width: 100%;
  padding: 10px;
  margin-left: -10px;
  position: absolute;
  bottom: 0;

  z-index: 1;
}

.paquete-header {
  padding: 10px;

  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;

  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  /* z-index: 1; */

  display: none;
}

.paquete-item:hover .paquete-header {
  display: block;
}

.paquete-titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;

  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

.paquete-titulo:hover {
  color: #ffffff;
}

.paquete-precio {
  margin-bottom: 15px;
}

.paquete-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.paquete-footer div {
  width: 50%;
}

.paquete-cotizar {
  text-align: right;
}

.paquete-cotizar a {
  font-size: 14px;
  background: #0195D3;
  padding: 5px 10px;
  border-radius: 10px;
  color: #ffffff;
}

.paquete-cotizar a:hover {
  color: #13BCF7;
  background: #ffffff !important;
}

.paquete-leer {
  margin-bottom: 10px;
}

.paquete-leer a {
  font-size: 14px;
  background: #ffffff;
  color: #13BCF7;
  padding: 5px 10px;
  border-radius: 10px;
  margin: auto;
}

.paquete-leer a:hover {
  color: #ffffff;
  background: #13BCF7 !important;
}

.paquete-item:hover .relacionado-leer a {
  background: #13BCF7;
}
/* [FIN] Box Paquete */


/* [INICIO] Post Relacionado */
.relacionado {
  margin-left: -23.1%;
  margin-right: -23.1%;
  background: url('/images/Fondo-Otros-Paquetes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  z-index: 1;

  padding: 20px 20px;
  margin-top: 40px;
}

.relacionado-head {
  max-width: 1300px;

  margin: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.relacionado-head h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  color: #0096D5;

  margin: 0;
}

.relacionado-contenedor {
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  list-style: none;
  padding: 0; */

  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.relacionado-item {
  position: relative;

  margin: 10px;
  opacity: 0.6;
}

.relacionado-item:hover {
  opacity: 1;
}

.relacionado-imagen img {
  border-radius: 7px;
}

.relacionado-header {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;

  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;

  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  z-index: 1;
}

.relacionado-titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;

  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

.relacionado-titulo:hover {
  color: #ffffff;
}

.relacionado-leer {
  text-align: center;
  margin-bottom: 10px;
}

.relacionado-precio {
  margin-bottom: 10px;
}

.relacionado-leer a {
  font-size: 16px;
  background: #888;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  margin: auto;
}

.relacionado-leer a:hover {
  color: #13BCF7;
  background: #ffffff !important;
}

.relacionado-item:hover .relacionado-leer a {
  background: #13BCF7;
}
/* [FIN] Post Relacionado */

/* [INICIO] Tabs Sub Categoria */
body.pag-vacaciones #Vacaciones_Div {
  padding-right: 0 !important;
}
/* [FIN] Tabs Sub Categoria */

/* [INICIO] Responsivo */
@media (max-width: 1379.98px) {

  .nosotros-text {
    padding-left: 25px;
  }

  /* [INICIO] Post Relacionado */
  .relacionado {
    margin-left: -30px;
    margin-right: -30px;
  }

  .relacionado-contenedor {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* [FIN] Post Relacionado */

}

@media (max-width: 1199.98px) {
  /* [INICIO] Slider */
  .ds-slider-item--titulo {
    font-size: 52px;
  }

  .ds-slider-item--parrafo {
    font-size: 16px;
  }
  /* [FIN] Slider */
}

@media (max-width: 1125.98px) {
  /* [INICIO] Tabs Sub Categoria */
  body.pag-vacaciones .page-list.menu-estilo-1 li {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* [FIN] Tabs Sub Categoria */
}

@media (max-width: 991.98px) {
  /* [INICIO] Trabadores */
  .employee {
    width: 33.3333% !important;
  }
  /* [FIN] Trabadores */

  /* [INICIO] Box Paquete */
  .paquete-item {
    width: 33.3333%;
  }
  /* [FIN] Box Paquete */

  /* [INICIO] Slider */
  .ds-slider-item--titulo {
    font-size: 42px;
  }
  /* [FIN] Slider */
}

@media (max-width: 800px) {
  .ds-nosotros .fusion-header-wrapper .fusion-header .logo-custom-ja-2 {
    display: none !important;
  }

  .ds-nosotros .fusion-header-wrapper .fusion-header .logo-custom-ja-1 {
    display: inline-block !important;
  }

  /* [INICIO] Menu Ambuerguesa */
  .fusion-mobile-menu-icons a {
    font-size: 36px;
  }

  .fusion-mobile-menu-icons a:before {
    color: #ffffff;
  }

  .fusion-mobile-menu-icons a:hover:before {
    color: #ffffff !important;
  }

  .discover-header-interno.fusion-mobile-menu-icons a:before {
    color: #dadada !important;
  }

  .discover-header-interno.fusion-mobile-menu-icons a:hover:before {
    color: #0260A0 !important;
  }

  .ds-nosotros .fusion-mobile-menu-icons a:before {
    color: #dadada !important;
  }

  .ds-nosotros .fusion-mobile-menu-icons a:hover:before {
    color: #0260A0 !important;
  }
  /* [FIN] Menu Ambuerguesa */

}

@media (max-width: 767.98px) {


  .nosotros-text {
    padding-left: 0;
  }

  /* [INICIO] Post Relacionado */
  .relacionado {
    padding: 20px 0;
  }
  /* [FIN] Post Relacionado */

  /* [INICIO] Trabadores */
  .employee {
    width: 50% !important;
  }
  /* [FIN] Trabadores */

  /* [INICIO] Box Paquete */
  .paquete-item {
    width: 50%;
  }
  /* [FIN] Box Paquete */

  /* [INICIO] Slider */
  .ds-slider-item--titulo {
    font-size: 32px;
  }
  /* [FIN] Slider */
}

@media (max-width: 575.98px) {

  #main {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* [INICIO] Slider */
  .ds-sliders .slick-next {
    right: 5px;
  }

  .ds-sliders .slick-prev {
    left: 5px;
  }

  .ds-slider-item--detalle {
    padding-left: 50px;
    padding-right: 50px;
  }

  .ds-slider-item--titulo {
    font-size: 25px;
  }

  .ds-slider-item--parrafo {
    font-size: 14px;
  }
  /* [FIN] Slider */

  /* [INICIO] Vista Contactos */
  .ds-contacto #Contacto-Form h2.title-heading-center {
    font-size: 20px !important;
  }

  .ds-contacto .fusion-column-wrapper p {
    font-size: 14px !important;
  }
  /* [FIN] Vista Contactos */

  /* [INICIO] Vista Nosotros */
  .ds-nosotros .title-h2 h2 {
    font-size: 20px !important;
  }

  .ds-nosotros .fusion-layout-column .fusion-column-wrapper {
    padding: 20px;
  }

  .ds-nosotros .fusion-imageframe img {
    width: 60%;
  }

  .tabs-nosotros ul.nav-tabs > li.active > a > h4 {
    font-size: 20px !important;
  }
  /* [FIN] Vista Nosotros */

  /* [INICIO] Tabs Sub Categoria */
  .subcategoria-maleta {
    display: none;
  }

  .tabs-paquetes {
    padding-top: 5px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
  }

  body.pag-vacaciones #Vacaciones_Div {
    padding: 0 !important;
    width: auto;
    min-width: 100% !important;
  }

  .fusion-layout-column.fusion-column-last {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .fusion-layout-column .fusion-column-wrapper {
    min-height: 0 !important;
  }
  /* [FIN] Tabs Sub Categoria */

  /* [INICIO] Header Box Logo */
  .fusion-logo-link img {
    width: 85%;
    margin-top: 6px;
  }
  /* [FIN] Header Box Logo */

  /* [INICIO] Paquetes Box Slider */
  .bx-wrapper {
    margin-bottom: 0 !important;
  }

  #Vacaciones_Div {
    padding-left: 30px !important;
    padding-right: 30px !important
  }
  /* [FIN] Paquetes Box Slider */

  /* [INICIO] Registrate Box */
  .font-script .fusion-title h2.title-heading-left {
    font-size: 25px !important;
    line-height: 1 !important;
    margin-top: 0;
  }
  /* [FIN] Registrate Box*/

  /* [INICIO] Título Destinos*/
  .font-script h2.title-heading-center {
    font-size: 30px !important;
    margin-top: 0;
  }

  .font-script h2.title-heading-center {
    font-size: 30px !important;
    margin-top: 0;
  }
  /* [FIN] Título Destinos*/

  /* [INICIO] Banner Categoría */
  .fusion-body .fusion-page-title-bar {
    min-height: 70px;
    height: 70px;
  }

  body .fusion-page-title-wrapper {
    padding: 7px 0;
  }

  .fusion-body .fusion-page-title-bar h1 {
    margin-top: 10px;
  }

  .fusion-page-title-bar h1 {
    font-size: 20px;
    text-align: center;
  }
  /* [FIN] Banner Categoría */

  /* [INICIO] Trabadores */
  .employee {
    width: 100% !important;
  }
  /* [FIN] Trabadores */

  /* [INICIO] Box Paquete */
  .paquete-item {
    width: 100%;
  }
  /* [FIN] Box Paquete */

  /* [INICIO] Slider */
  .ds-slider-item.destinos {
    min-height: 500px !important;
  }
  /* [FIN] Slider */
}

@media (max-width: 420.98px) {
  .ds-nosotros .fusion-header-wrapper .fusion-header .logo-custom-ja-1 {
    display: none !important;
  }

  .fusion-header-wrapper .fusion-header .logo-custom-ja-1 {
    display: none !important;
  }

  /* [INICIO] Tabs Sub Categoria */
  .page-list.menu-estilo-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .page-list.menu-estilo-1 li {
    width: 100%;

    border-radius: 0 !important;
  }

  .page-list.menu-estilo-1 li::before {
    width: 0 !important;
  }
  /* [FIN] Tabs Sub Categoria */
}

@media (max-width: 359.98px) {
  /* [INICIO] Post Relacionado */
  .relacionado {
    padding: 8px 0;
  }

  .relacionado-head {
    padding-bottom: 12px;
  }

  .relacionado-head h4 {
    font-size: 17px;
  }

  .relacionado-contenedor {
    margin-left: 15px;
    margin-right: 15px;
  }

  .relacionado-header {
    font-size: 14px;
  }

  .relacionado-titulo {
    font-size: 14px;
  }

  .relacionado-leer a {
    font-size: 14px;
  }

  .relacionado .slick-prev {
    left: -10px;
  }

  .relacionado .slick-next {
    right: -18px;
  }

  .relacionado .slick-arrow .fa {
    font-size: 28px;
    }
  }
